blinker
certifi
charset-normalizer
click
contourpy
cycler
Cython
filelock
Flask
flask-cors
fonttools
fsspec
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pandas
pillow
polars
psutil
pynmea2
pyparsing
pyserial
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
six
sympy
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
zope.event
zope.interface
